body {
    font-family: sans-serif;
    /* TODO: do you need units for font-size? */
    font-size: 14px;
}

div#container {
    width: 800px;
    margin: auto;
}

div#header {
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

div#panels {
    width: 800px;
}

div#left-panel {
    width: 560px;
    padding: 10px;
}

div#right-panel {
    width: 199px;
    height: 100%;
    float: right;
    padding: 10px;
    border-left: 1px solid black;
}

div#bottom-panel {
    display: inline-block;
    width: 800px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    text-align: center;
    color: gray;
}

div#right-panel-section {
}

div.right-panel-section-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul#players-list {
    border: 1px solid black;
    list-style-type: none;
    padding: 0px;
}

li.player {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

ul#players-list li:nth-child(1) {
    /* Special styling for the first item in the player list that represents the
       local user of the app. */
    background: #FFFF00;
}

ul#players-list li:nth-child(2n+3) {
    background: #EEE;
}

div#chat {
}

ul#message-list {
    border: 1px solid black;
    list-style-type: none;
    padding: 0px;
    height: 200px;
    overflow-y: auto;
    margin-bottom: 0px;
}

li.message {
    overflow-x: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

ul#message-list li:nth-child(odd) {
    background: #EEE;
}

input#message-field {
    width: 130px;
}

input#send-button {

}

div#bids {
}

ul#bid-list {
    border: 1px solid black;
    list-style-type: none;
    padding: 0px;
    height: 200px;
    overflow-y: auto;
    margin-bottom: 0px;
}

li.bid {
    overflow-x: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

li.failed-bid {
    color: red;
}

ul#bid-list li:nth-child(odd) {
    background: #EEE;
}

input#bid-field {
    width: 130px;
}

div#grid-canvas {
    user-select: none;
    margin: auto;
    width: min-content;
}

div.grid-row {
    display: flex;
    width: min-content;
}

span.grid-cell {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px dotted gray;
    position: relative;
    user-select: none;
}

span.empty-grid-cell {
    background: lightgoldenrodyellow;
}

span.inaccessable-grid-cell {
    background: gray;
}

span.top-wall {
    border-top: 1px solid black;
}

span.bottom-wall {
    border-bottom: 1px solid black;
}

span.left-wall {
    border-left: 1px solid black;
}

span.right-wall {
    border-right: 1px solid black;
}

span.red-target {
    background: red;
    opacity: 0.7;
}

span.blue-target {
    background: blue;
    opacity: 0.5;
}

span.yellow-target {
    background: yellow;
    opacity: 0.5;
}

span.green-target {
    background: green;
    opacity: 0.5;
}

span.wild-target {
    background: lightgrey;
    opacity: 0.5;
}

span.square-target {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
}

span.circle-target {
    width: 28px;
    height: 28px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 1px;
    margin-top: 1px;
    border-radius: 50%;
    position: absolute;
}

span.triangle-target {
    width: 30px;
    height: 30px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    display: inline-block;
    margin-left: 1px;
    margin-top: 1px;
    position: absolute;
}

span.hexagon-target {
    width: 30px;
    height: 30px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: inline-block;
    margin-left: 1px;
    margin-top: 1px;
    position: absolute;
}

span.vortex-target {
    width: 28px;
    height: 28px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 1px;
    margin-top: 1px;
    border-radius: 50%;
    position: absolute;
}

span.green-robot {
    background: green;
    color: lime;
}

span.red-robot {
    background: red;
    color: yellow;
}

span.blue-robot {
    background: blue;
    color: cyan;
}

span.yellow-robot {
    background: yellow;
    color: gray;
}

span.robot {
    width: 16px;
    height: 16px;
    border: 4px solid black;
    display: inline-block;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;

    font: 12px bold;
    text-align: center;
}

span.selected-robot {
    border: 4px solid lime;
}

span.target-cell {
    background: cyan;
}
